Flask==3.0.3
Flask-SQLAlchemy==3.1.1
Flask-Migrate==4.0.7
Flask-Bcrypt==1.0.1
Flask-SocketIO==5.3.6
Flask-Mail==0.10.0
Flask-Login==0.6.3
Flask-Babel==4.0.0
PyMySQL==1.1.1
python-dotenv==1.0.1
WeasyPrint==62.3
qrcode==7.4.2
Pillow==10.4.0
reportlab==4.2.2
python-docx==1.1.2
eventlet==0.36.1
simple-websocket==1.1.0
cryptography==42.0.8